body{

background:#07111f;

color:white;

font-family:Arial;

padding:40px;

}

h1{

font-size:56px;

margin-bottom:30px;

}

.grid{

display:grid;

grid-template-columns:
1fr 1fr;

gap:25px;

}

.card{

background:#111b32;

padding:30px;

border-radius:22px;

box-shadow:

0 0 50px

rgba(
0,
255,
255,
0.08
);

transition:.3s;

}

.card:hover{

transform:
translateY(
-5px
);

}

.status{

font-size:34px;

color:#00ff99;

}

button{

width:100%;

padding:18px;

border:none;

border-radius:15px;

font-size:22px;

background:

linear-gradient(
90deg,
#00d2ff,
#3a7bd5
);

color:white;

cursor:pointer;

}

button:hover{

opacity:.9;

}

#result{

font-size:42px;

font-weight:bold;

margin-top:20px;

color:#00ffcc;

}

li{

margin-top:10px;

}

p{

font-size:18px;

}